variant: flatcar
version: 1.0.0
systemd:
  units:
    - name: docker-network.service
      enabled: true
      contents: |
        [Unit]
        Description=Docker Network service
        After=docker.service
        Requires=docker.service
        [Service]
        TimeoutStartSec=0
        ExecStart=/usr/bin/docker network create flatcar
        Restart=always
        RestartSec=5s
        [Install]
        WantedBy=multi-user.target
    - name: ghost.service
      enabled: true
      contents: |
        [Unit]
        Description=Ghost service
        After=docker-network.service
        Requires=docker.service
        [Service]
        TimeoutStartSec=0
        ExecStartPre=-/usr/bin/docker rm --force ghost
        ExecStart=/usr/bin/docker run --name ghost --pull always --log-driver=journald -v /home/core/ghost/:/var/lib/ghost/content ${env_vars} docker.io/${ghost_image}
        ExecStop=/usr/bin/docker stop ghost
        Restart=always
        RestartSec=5s
        [Install]
        WantedBy=multi-user.target
    - name: nginx.service
      enabled: true
      contents: |
        [Unit]
        Description=Nginx service
        After=docker-network.service
        Requires=docker.service
        [Service]
        TimeoutStartSec=0
        ExecStartPre=-/usr/bin/docker rm --force nginx
        ExecStart=/usr/bin/docker run --name nginx --pull always --log-driver=journald -v /home/core/nginx/:/etc/nginx/conf.d/:ro -p 80:80 docker.io/nginx:1.25
        ExecStop=/usr/bin/docker stop nginx
        Restart=always
        RestartSec=5s
        [Install]
        WantedBy=multi-user.target 
passwd:
  users:
    - name: core
      ssh_authorized_keys: 
        ${ssh_keys}
storage:
  disks: 
    - device: /dev/nvme1n1
      wipe_table: true 
      partitions: 
        - label: swap
          type_guid: 0657FD6D-A4AB-43C4-84E5-0933C84B4F4F
  filesystems:
    - device: /dev/disk/by-partlabel/swap
      format: swap
      wipe_filesystem: true
      label: swap
      with_mount_unit: true
