variant: flatcar
version: 1.0.0
systemd:
  units:
    - name: ghost.service
      enabled: true
      contents: |
        [Unit]
        Description=Ghost service
        After=docker.service
        Requires=docker.service
        [Service]
        TimeoutStartSec=0
        ExecStartPre=-/usr/bin/docker rm --force ghost
        ExecStart=/usr/bin/docker run --name ghost --pull always --log-driver=journald -v ghost:/var/lib/ghost/content ${env_vars} -p 8080:2368 docker.io/${ghost_image}
        ExecStop=/usr/bin/docker stop ghost
        Restart=always
        RestartSec=5s
        [Install]
        WantedBy=multi-user.target 
passwd:
  users:
    - name: core
      ssh_authorized_keys: 
        ${ssh_keys}
storage:
  disks: 
    - device: /dev/nvme1n1
      wipe_table: true 
      partitions: 
        - label: swap
          type_guid: 0657FD6D-A4AB-43C4-84E5-0933C84B4F4F
  filesystems:
    - device: /dev/disk/by-partlabel/swap
      format: swap
      wipe_filesystem: true
      label: swap
      with_mount_unit: true
  files:
    - path: /home/core/works
      filesystem: root
      mode: 0755
      contents:
        inline: |
          #!/bin/bash
          set -euo pipefail
           # This script demonstrates how templating and variable substitution works when using Terraform templates for Container Linux Configs.
          hostname="$(hostname)"
          echo My name is ${name} and the hostname is $${hostname}  